{% extends 'base.html' %}
{% block content %}

<h1>Trick Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ trick.name }}</span>
        <p>Stance: {{ trick.stance }}</p>
        <p>Description: {{ trick.description }}</p>
        {% if trick.dial > 20 %}
          <p>Dial: {{ trick.dial }}</p>
        {% else %}
          <p>Dial: Noob</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'tricks_update' trick.id %}">Edit</a>
        <a href="{% url 'tricks_delete' trick.id %}">Delete</a>
      </div>
    </div>

    {% for photo in trick.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

<form action="{% url 'add_photo' trick.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

  </div>
  <div class="col s6">
    <form action="{% url 'add_training' trick.id %}" method='post'>
      {% csrf_token %}
      {{ training_form.as_p }}
      <input type='submit' class='btn' value='Add Training'>
    </form>
    <br>
    {% if trick.trained_for_today %}
      <div class="card-panel teal-text center-align">{{trick.name}} has been trained thoroughly for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{trick.name}} might need to be trained more</div>    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Steez</th></tr>
      </thead>
      <tbody>
        {% for training in trick.training_set.all %}
          <tr>
            <td>{{training.date}}</td>
            <td>{{training.get_steez_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>What Parks did I {{ trick.name }} at?</h3>
    {% if trick.parks.count %}
      {% for park in trick.parks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="location: {{ park.location }}">{{ park.location }}</span> {{ park.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Parks :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Parks</h3>
    {% if parks.count %}
      {% for park in parks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="description: {{ park.description }}">{{ park.description }}</span> {{ park.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_park' trick.id park.id %}" method="post">          
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{trick.name}} Already Has All Parks Available</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl=document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
  var selectEl=document.getElementById('id_steez');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}